*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f4effb99;
}
/* Rest Page Nav Header*/
.header{
	width: 100%;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 1;
	box-sizing: border-box;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-image: linear-gradient(#599bdc, #3072b3);
    font-size: 3vh;
    padding: 20px;
}
/* First Page Nav Header*/
.headeropen{
	 width: 100%;
	 color: white;
	 background-color:#f4effb99;
	 background-image: linear-gradient(#ff3230, #ca2525);
	 font-size: 3vh;
     padding-top: 50px;
     padding-bottom: 50px;
     text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
/* First Page Styling */
.opening-section{
	width: 94%;
    padding: 3%;
}
.selection{
	padding: 5px;
}
.choices{
	width:100%;
}
.string-choice,.math-choice{
	width:600px;
	color: #fff;
    background-color: #3c8dde;
    background-image: url('bg.jpg');
    text-align: center;
    text-shadow:  -1px -1px 0 rgba(0,0,0,0.3);
    height: 200px;
}
h1{
	font-size: 5vh;

}
@media (max-width: 600px) {
       .string-choice,.math-choice{
			width: 80%;
            color: #fff;
            background-color: #3c8dde;
            background-image: url('bg.jpg');
            text-align: center;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            height: 200px;
            position: relative;
		}
		h1{
	        
	        font-size: 4vh;

       }
       .string-choice{
	        transition: width 0.8s, height 0.8s;
       } 
       .string-choice:hover{
         	height: 210px;
	        width:81%;
       }
       .math-choice{
	        transition: width 0.8s, height 0.8s;
       } 
       .math-choice:hover{
         	height: 210px;
	        width:81%;
       }
}
.string-choice{
	transition: width 0.8s, height 0.8s;
}
.string-choice:hover{
	height: 210px;
	width:81%;
}
.math-choice{
	transition: width 0.8s, height 0.8s;
}
.math-choice:hover{
	height: 210px;
	width:81%;
}
/* End of First Page Styling */
/* Second Page Styling */
.choices1{
	width: 100%;
	justify-content: space-around;
}
.math-choice1{
	width:350px;
	color: #fff;
    background-color: #3c8dde;
    background-image: url('bg.jpg');
    text-align: center;
    text-shadow:  -1px -1px 0 rgba(0,0,0,0.3);
    height: 200px;
    transition: width 0.8s, height 0.8s;
    font-size: 15px;
}
.math-choice1:hover{
	height: 210px;
	width:360px;
}
.math-opening-section{
	width: 100%;
	padding-top: 25px;
}
.math-selection{
	padding: 5px;
}
@media (max-width: 600px) {
       .math-choice1{
			width: 90%;
            color: #fff;
            background-color: #3c8dde;
            background-image: url('bg.jpg');
            text-align: center;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            height: 200px;
            position: relative;
		}
		.math-choice1:hover{
	        height: 210px;
	        width: 91%;
        }
}
.choices2{
	width: 100%;
	justify-content: space-around;
}
.string-choice1{
	width:350px;
	color: #fff;
    background-color: #3c8dde;
    background-image: url('bg.jpg');
    text-align: center;
    text-shadow:  -1px -1px 0 rgba(0,0,0,0.3);
    height: 200px;
    transition: width 0.8s, height 0.8s;
    font-size: 15px;
}
.string-choice1:hover{
	height: 210px;
	width:360px;
}
.string-opening-section{
	width: 100%;
	padding-top: 25px;
}
.string-selection{
	padding: 5px;
}
@media (max-width: 600px) {
       .string-choice1{
			width: 90%;
            color: #fff;
            background-color: #3c8dde;
            background-image: url('bg.jpg');
            text-align: center;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            height: 200px;
            position: relative;
		}
		.string-choice1:hover{
	        height: 210px;
	        width: 91%;
        }
}
/* End of Second Page Styling */
/* Final Page */
.head{
    background-image: linear-gradient(#599bdc, #3072b3);
    color: #fff;
    text-align: center;
    padding: 13px 0px;
    font-size: 20px;
}
.expl{
  margin: 0% 5% 1% 5%;
  margin-top: 5px;
}
.btn{
  padding: 10px 15px;
  border: 1px solid rgb(245,245,245);
  border-radius: 5px;
  outline: none;
  margin: 0% 0.5%;
  cursor: pointer;
  color: #3072b3;
  background: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.5px;
  transition: 0.2s all;
  width: 150px;
}
.btn:hover{
  background-image:linear-gradient(#599bdc, #3072b3);
  color: #fff;
}
.defi-para,
.syntax-para{
  display: none;
  letter-spacing: 0.5px;
  margin-top: 1%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  border: 1px solid rgb(248,248,248);
  width: 94%;
  padding:3%;
  color:#3072b3;
  font-size: 22px;
}
.cont{
  display: flex;
  margin: 2% 4% 2% 4%;
  justify-content: space-around;
  align-items: center;
}
.one , .two {
  margin: 0% 1%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  border: 1px solid rgb(248,248,248);
  width: 50%;
  height: 220px;
}
.input{
  margin: 2% 2% 0% 5%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  border: 1px solid rgb(248,248,248);
  width: 90%;
  height: auto;
  overflow: scroll;
}
.inputbox{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 20px;
}
.entry{
    width: 60%;
    height: 30px;
    border: 1px solid rgb(52 33 243);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    background-image:linear-gradient(#599bdc, #3072b3);
    color: white;
    padding-left: 15px;
    padding-right: 10px; 
}
::placeholder{
    color: white;
}
.label1{
    color: #3072b3;
}
.next,.reset{
    width:100px;
    font-size: 16px;
}
.btn1{
  padding: 8px 10px;
  border: 1px solid rgb(245,245,245);
  border-radius: 5px;
  outline: none;
  margin: 0% 0.5%;
  cursor: pointer;
  color: #3072b3;
  background: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.5px;
  transition: 0.2s all;
  width: 100px;
}
.btn1:hover{
  background-image:linear-gradient(#599bdc, #3072b3);
  color: #fff;
}
.button{
    padding-top: 5px;
}
pre{
    white-space: pre-wrap;
    font-weight: 405;
    font-family: Overpass, Helvetica, sans-serif;
    line-height: 1.5;
}
.red{
    color: red;
}
.btn2{
  padding: 8px 10px;
  border: 1px solid rgb(245,245,245);
  border-radius: 5px;
  outline: none;
  margin-top: 8%;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.5px;
  transition: 0.2s all;
  width: 100px;
  background-image:linear-gradient(#599bdc, #3072b3);
}
.btn2:hover{
  background:green;
  color: white;
}
.code{
    padding-left: 25px;
    padding-top: 10px;
}
.one1 , .two2 {
  margin: 0% 1%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  border: 1px solid rgb(248,248,248);
  width: 50%;
  height: 220px;
}
@media (max-width: 600px) {
   .one1 , .two2 {
  margin: 0% 1%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  border: 1px solid rgb(248,248,248);
  width: 50%;
  height: 270px;
}
.two2{
  color: blue;
  overflow: scroll;
}
.two{
  color: blue;
  overflow: scroll;
}
.label1{
  font-size: 16px;
}
}
.two2{
  color: blue;
}
.two{
  color: blue;
}
/* End of Final Page */