*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f4effb99;
}
/* Rest Page Nav Header*/
.header{
	width: 100%;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 1;
	box-sizing: border-box;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-image: linear-gradient(#599bdc, #3072b3);
    font-size: 3vh;
    padding: 20px;
}
/* First Page Nav Header*/
.headeropen{
	 width: 100%;
	 color: white;
	 background-color:#f4effb99;
	 background-image: linear-gradient(#ff3230, #ca2525);
	 font-size: 3vh;
     padding-top: 50px;
     padding-bottom: 50px;
     text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
/* First Page Styling */
.opening-section{
	width: 94%;
    padding: 3%;
}
.selection{
	padding: 5px;
}
.choices{
	width:100%;
}
.string-choice,.math-choice{
	width:600px;
	color: #fff;
    background-color: #3c8dde;
    background-image: url('bg.jpg');
    text-align: center;
    text-shadow:  -1px -1px 0 rgba(0,0,0,0.3);
    height: 200px;
}
h1{
	font-size: 5vh;

}
@media (max-width: 600px) {
       .string-choice,.math-choice{
			width: 80%;
            color: #fff;
            background-color: #3c8dde;
            background-image: url('bg.jpg');
            text-align: center;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            height: 200px;
            position: relative;
		}
		h1{
	        
	        font-size: 4vh;

       }
       .string-choice{
	        transition: width 2s, height 1s;
       } 
       .string-choice:hover{
         	height: 210px;
	        width:81%;
       }
       .math-choice{
	        transition: width 2s, height 1s;
       } 
       .math-choice:hover{
         	height: 210px;
	        width:81%;
       }
}
.string-choice{
	transition: width 2s, height 1s;
}
.string-choice:hover{
	height: 210px;
	width:81%;
}
.math-choice{
	transition: width 2s, height 1s;
}
.math-choice:hover{
	height: 210px;
	width:81%;
}
/* End of First Page Styling */
/* Second Page Styling */
.choices1{
	width: 100%;
	justify-content: space-around;
}
.math-choice1{
	width:350px;
	color: #fff;
    background-color: #3c8dde;
    background-image: url('bg.jpg');
    text-align: center;
    text-shadow:  -1px -1px 0 rgba(0,0,0,0.3);
    height: 200px;
    transition: width 2s, height 1s;
    font-size: 15px;
}
.math-choice1:hover{
	height: 210px;
	width:360px;
}
.math-opening-section{
	width: 100%;
	padding-top: 25px;
}
.math-selection{
	padding: 5px;
}
@media (max-width: 600px) {
       .math-choice1{
			width: 90%;
            color: #fff;
            background-color: #3c8dde;
            background-image: url('bg.jpg');
            text-align: center;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            height: 200px;
            position: relative;
		}
		.math-choice1:hover{
	        height: 210px;
	        width: 91%;
        }
}
.choices2{
	width: 100%;
	justify-content: space-around;
}
.string-choice1{
	width:350px;
	color: #fff;
    background-color: #3c8dde;
    background-image: url('bg.jpg');
    text-align: center;
    text-shadow:  -1px -1px 0 rgba(0,0,0,0.3);
    height: 200px;
    transition: width 2s, height 1s;
    font-size: 15px;
}
.string-choice1:hover{
	height: 210px;
	width:360px;
}
.string-opening-section{
	width: 100%;
	padding-top: 25px;
}
.string-selection{
	padding: 5px;
}
@media (max-width: 600px) {
       .string-choice1{
			width: 90%;
            color: #fff;
            background-color: #3c8dde;
            background-image: url('bg.jpg');
            text-align: center;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            height: 200px;
            position: relative;
		}
		.string-choice1:hover{
	        height: 210px;
	        width: 91%;
        }
}
/* End of Second Page Styling */